.bento-box {
  font-family: 'Urbanist', sans-serif; /* Appliquer la police ici */
  padding: 16px;
  border-radius: 15px;
  color: var(--dark-color);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  margin: 8px;
  transition: transform 0.8s, box-shadow 0.6s, color 0.2s, font-weight 0.1s;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.bento-box:hover {
  /* transform: translateY(-5px); */
  box-shadow: 0px 0px 30px 5px rgba(255, 255, 255, 0.5);
  color: white;
  font-weight: bold;
}
  
.header {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.2em;
}
  
.header h2 {
  margin: 0;
  font-size: 1.5em;
}
  
.header p {
  margin: 0;
}

.header:hover {
  cursor:default;
}

  
.content {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  text-decoration: none;
  padding: 20px;
}
  
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  padding:16px;
  border-radius: 10px;
  max-width: 100%;
  cursor: pointer;
  transition: background 0.3s, transform 0.6s;
  margin-bottom: 20px;
  font-weight: normal;
}
  
.item:hover {
  background: rgba(255, 255, 255, 0.0);
  transform: scale(1.10);
  box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.item:active {
  transform: scale(1.00);
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.8);
}
  
.item img {
  max-width: 100%; /* Limite la largeur à celle du parent */
  max-height: 85px; /* Fixe une hauteur maximale raisonnable */
  width: auto; /* Garde les proportions */
  height: auto; /* Garde les proportions */
  margin: 8px;
  object-fit: contain; /* S'assure que l'image s'adapte bien à son conteneur */
}
  
.item span {
  font-size: 1.1em;
  color: var(--dark-color);
}

a {
  text-decoration: none; /* Supprime le soulignement */
  color: inherit; /* Hérite de la couleur du parent ou définissez une couleur spécifique */
}

.item span:hover {
  color: white;
  cursor: pointer;
  transition: color 0.3s;
}